.cardDropdownContainer {
  /** Position */
  background-color: var(--bs-light);
  position: absolute;
  top: 50px;
  z-index: 5;

  /** Toggle show dropdown */
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s aease,
    visibility 0.3s ease;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  /** General Styles */
  padding: 15px;
  width: 240px;
  height: 340px;
  background-color: var(--bs-light);

  /** Bordering */
  --bs-border-opacity: 1;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(
    var(--bs-secondary-rgb),
    var(--bs-border-opacity)
  ) !important;

  /** Displaying */
  display: flex;
  flex-direction: column;

  .btnCheckout {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    width: 87%;
    margin: 0 auto;
  }
}
