@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bs-btn-font-family: 'Josefin Sans', sans-serif;
  /*   --bs-primary: #ff5733;
  --bs-primary-rgb: 255, 87, 51; */

  /* 2. Variaciones para estados (Hover/Active) */
  /* --bs-primary-bg-subtle: #ffedeb; */
  /* --bs-primary-border-subtle: #ffc2b3; */
  /* --bs-primary-text-emphasis: #99341f; */
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

button.btn {
  border-radius: 0;
}
