@import "bootstrap-icons/font/bootstrap-icons.scss";
@font-face {
  font-family: "DaddyTimeMono";
  src: url("assets/fonts/DaddyTimeMono/DaddyTimeMonoNerdFont-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DaddyTimeMono";
}

.btn-custom {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  i {
    font-size: 1.2rem;
    color: #61dafb;
  }
}

.bi {
  color: var(--bs-dark);
}
