@font-face {
  font-family: "DaddyTimeMono";
  src: url("assets/fonts/DaddyTimeMono/DaddyTimeMonoNerdFont-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "DaddyTimeMono";
}
